#Import Packages & Load File

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
# choose the file on your computer to upload it then
# from google.colab import files
# files.upload()
# loads csv file as a dataframe into df
df = pd.read_csv("data.csv")

#Data Cleaning

In [4]:
# creates new column names that are easier to read
newnames = ['name',
'squadNumber',
'language',
'internshipPreference',
'age',
'city',
'country1',
'country',
'region',
'timezone',
'occupation',
'education',
'major',
'onlinecourses',
'courses',
'priorexperience',
'communicationpreference',
'productmanagement',
'projectmanagement',
'digitalmarketing',
'seo',
'paidmarketing',
'influencermarketing',
'contentmarketing',
'emailmarketing',
'marketresearch',
'graphicdesign',
'digitalillustration',
'animation',
'videoediting',
'digitalcontentCreation',
'ux',
'ui',
'productdesign',
'visualdesign',
'motiondesign',
'userresearch',
'businessanalytics',
'interactiondesign',
'uxwriting',
'contentstrategy',
'copywriting',
'webdesign',
'uidev',
'webdev',
'swe',
'cloud',
'ai',
'ml',
'devops',
'dataanalytics',
'datascience',
'growthmarketing',
'sales',
'customersuccess',
'accountmanagement',
'contentwriting',
'timemanagement',
'help-seeker',
'problemsolving',
'communication',
'reliability',
'understanding',
'presentationskills',
'leadership',
'management',
'writing',
'Wheredidyouhearaboutthisinternship',
'motivation',
'goal',
'grouppreference',
'demographics',
'productdesignrole',
'secondaryproductdesignrole',
'productdevrole',
'secondaryproductdevrole',
'productgrowthrole',
'secondaryproductgrowthrole',
'productmarketingrole',
'secondaryproductmarketingrole',
'productmarketingcohort',
'productdesigncohort',
'productdevcohort',
'productgrowthcohort',
'preferredhours']

In [5]:
# sets new column names
df.set_axis(newnames, axis=1, inplace=True)
df

,name,squadNumber,language,internshipPreference,age,city,country1,country,region,timezone,...,secondaryproductdevrole,productgrowthrole,secondaryproductgrowthrole,productmarketingrole,secondaryproductmarketingrole,productmarketingcohort,productdesigncohort,productdevcohort,productgrowthcohort,preferredhours
0,Grayson,NaN,i prefer english but i am also able to communi...,"Product Marketing,Product Growth",23.0,bordj bou arreridj,NaN,Algeria,MENA,"Europe,Africa",...,NaN,Growth Marketer,"Sales Development Representative ,Account Manager",Digital Marketer,"Paid Marketing Manager,Influencer Marketing Ma...","Starting on 15th August,Starting on 22nd August",NaN,NaN,Starting on 5th September,20-25 hours
1,Jonas,NaN,English,"Product Marketing,Product Growth ,Product Design",23.0,Algiers,NaN,Algeria,MENA,"Africa,Europe",...,NaN,Sales Development Representative,"Growth Marketer,Sales Development Representati...",Digital Marketer,"Product Manager,SEO/SEM Manager,Paid Marketing...","Starting on 12th September,Starting on 15th Au...","Starting on 3rd October,Starting on 22nd August",NaN,Starting on 3rd October,10-15 hours
2,Ronan,NaN,English and Spanish are good for me.,Product Design,34.0,"Buenos Aires, Argentina",NaN,Argentina,Americas,Americas,...,NaN,NaN,NaN,NaN,NaN,NaN,Starting on 22nd August,NaN,NaN,15-20 hours
3,Dulce,NaN,spanish,Product Design,38.0,Mendoza,NaN,Argentina,Americas,Americas,...,NaN,NaN,NaN,NaN,NaN,NaN,Starting on 22nd August,NaN,NaN,20-25 hours
4,Evelyn,NaN,Spanish,Product Marketing,22.0,Tigre,NaN,Argentina,Americas,Any/No preference,...,NaN,NaN,NaN,Content Marketing Manager,"Influencer Marketing Manager,Market Research M...","Starting on 22nd August,Starting on 15th August",NaN,NaN,NaN,20-25 hours
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,Johnathan,NaN,English,"Product Development,Product Growth",22.0,"Las Cruces, New Mexico",USA,USA,Americas,"Americas,Any/No preference",...,"Data Scientist,ML Engineer,AI Engineer ,Cloud ...",Data Analyst,Business Analyst,NaN,NaN,NaN,NaN,Starting on 5th September,Starting on 5th September,20-25 hours
1184,Adriel,NaN,English is the language I am most comfortable ...,Product Development,19.0,seattle,USA,USA,Americas,Americas,...,"Web Developer,Cloud Developer,AI Engineer ,ML ...",NaN,NaN,NaN,NaN,NaN,NaN,Starting on 5th September,NaN,15-20 hours
1185,Reyna,NaN,English,Product Design,30.0,Caracas,NaN,Venezuela,Americas,Americas,...,NaN,NaN,NaN,NaN,NaN,NaN,"Starting on 5th September,Starting on 22nd August",NaN,NaN,10-15 hours
1186,Uriel,NaN,English,"Product Marketing,Product Design,Product Growth",21.0,Hanoi,NaN,Vietnam,APAC,Asia,...,NaN,Business Analyst,"Data Analyst,Growth Marketer,Market Researcher...",Market Research Manager,Product Manager,Starting on 15th August,Starting on 22nd August,NaN,Starting on 5th September,15-20 hours
1187,Esteban,NaN,Vietnamese,Product Development,23.0,Ho Chi Minh,Other,Vietnam,APAC,Asia,...,"Project Manager,Product Manager",NaN,NaN,NaN,NaN,NaN,NaN,Starting on 5th September,NaN,10-15 hours

#Grouping/Eliminating Columns

In [6]:
# creates simplified_df, which will be used for grouping users
simplified_df = df[["name","timezone","region","language","priorexperience"]]
simplified_df

,name,timezone,region,language,priorexperience
0,Grayson,"Europe,Africa",MENA,i prefer english but i am also able to communi...,Yes
1,Jonas,"Africa,Europe",MENA,English,Yes
2,Ronan,Americas,Americas,English and Spanish are good for me.,No
3,Dulce,Americas,Americas,spanish,No
4,Evelyn,Any/No preference,Americas,Spanish,No
...,...,...,...,...,...
1183,Johnathan,"Americas,Any/No preference",Americas,English,Yes
1184,Adriel,Americas,Americas,English is the language I am most comfortable ...,Yes
1185,Reyna,Americas,Americas,English,Yes
1186,Uriel,Asia,APAC,English,No
1187,Esteban,Asia,APAC,Vietnamese,Yes

In [7]:
for i, j in (simplified_df.language.items()):
    keywords = str(j).lower().split(" ")
    words = []
    if "english" in keywords:
        words.append("English")
    if "spanish" in keywords:
        words.append("Spanish")
    if "french" in keywords:
        words.append("French")
    if "chinese" in keywords:
        words.append("Chinese")
    if "hindi" in keywords:
        words.append("Hindi")
    if "bengali" in keywords:
        words.append("Bengali")
    if "portuguese" in keywords:
        words.append("Portuguese")
    if "japanese" in keywords:
        words.append("Japanese")
    if "telegu" in keywords:
        words.append("Telegu")    
    if "italian" in keywords:
        words.append("Italian")
    if "vietnamese" in keywords:
        words.append("Vietnamese")
    if "korean" in keywords:
        words.append("Korean")
    if "tamil" in keywords:
        words.append("Tamil")
    if "gujurati" in keywords:
        words.append("Gujurati")    
    if "urdu" in keywords:
        words.append("Urdu")
    if "turkish" in keywords:
        words.append("Turkish")   
    
    simplified_df.at[i,'language'] = ",".join(words)
simplified_df

,name,timezone,region,language,priorexperience
0,Grayson,"Europe,Africa",MENA,"English,French",Yes
1,Jonas,"Africa,Europe",MENA,English,Yes
2,Ronan,Americas,Americas,"English,Spanish",No
3,Dulce,Americas,Americas,Spanish,No
4,Evelyn,Any/No preference,Americas,Spanish,No
...,...,...,...,...,...
1183,Johnathan,"Americas,Any/No preference",Americas,English,Yes
1184,Adriel,Americas,Americas,English,Yes
1185,Reyna,Americas,Americas,English,Yes
1186,Uriel,Asia,APAC,English,No
1187,Esteban,Asia,APAC,Vietnamese,Yes

In [8]:
# clean simplified_df by removing any nan values and splitting rows 
cleaned_df1 = simplified_df.assign(language=simplified_df.language.str.split(","), timezone=simplified_df.timezone.str.split(","), region=simplified_df.region.str.split(",")).explode(["language"])
cleaned_df2 = cleaned_df1.explode('timezone')
cleaned_df3 = cleaned_df2.explode('region')
cleaned_df3.timezone.fillna("Unknown", inplace = True)
cleaned_df3.region.fillna("Unknown", inplace = True)
cleaned_df3.language.fillna("Unknown", inplace = True)
cleaned_df3.priorexperience.fillna("Unknown", inplace = True)
cleaned_df3

           name           timezone    region    language priorexperience
0       Grayson             Europe      MENA     English             Yes
0       Grayson             Africa      MENA     English             Yes
0       Grayson             Europe      MENA      French             Yes
0       Grayson             Africa      MENA      French             Yes
1         Jonas             Africa      MENA     English             Yes
...         ...                ...       ...         ...             ...
1183  Johnathan  Any/No preference  Americas     English             Yes
1184     Adriel           Americas  Americas     English             Yes
1185      Reyna           Americas  Americas     English             Yes
1186      Uriel               Asia      APAC     English              No
1187    Esteban               Asia      APAC  Vietnamese             Yes

[1540 rows x 5 columns]

In [14]:
grouped_df = simplified_df.groupby(["timezone", "region", "language", "priorexperience"])
for key, item in grouped_df:
    print(grouped_df.get_group(key), "\n\n")
    
grouped_df.get_group(("Americas", "Americas", "English", "Yes"))

           name  timezone    region language priorexperience
5         Rocco  Americas  Americas  English             Yes
34         Kate  Americas  Americas  English             Yes
35        Roger  Americas  Americas  English             Yes
37    Frederick  Americas  Americas  English             Yes
40         Evan  Americas  Americas  English             Yes
...         ...       ...       ...      ...             ...
1180     George  Americas  Americas  English             Yes
1181     Lennox  Americas  Americas  English             Yes
1182      Akash  Americas  Americas  English             Yes
1184     Adriel  Americas  Americas  English             Yes
1185      Reyna  Americas  Americas  English             Yes

[122 rows x 5 columns]

In [45]:
for key, item in grouped_df:
    print(grouped_df.get_group(key), "\n\n")

          name timezone region language priorexperience
680  Nathanael   Africa   APAC                       No


         name timezone  region language priorexperience
307    Kayson   Africa  Africa                       No
323   Richard   Africa  Africa                       No
329    Milana   Africa  Africa                       No
334  Beatrice   Africa  Africa                       No
339    Rafael   Africa  Africa                       No
341     Perla   Africa  Africa                       No
359     Andre   Africa  Africa                       No
367      Cole   Africa  Africa                       No
383   Yaretzi   Africa  Africa                       No
390     Kayla   Africa  Africa                       No
397      Odin   Africa  Africa                       No
401     Allie   Africa  Africa                       No
427     Belen   Africa  Africa                       No
430   Vanessa   Africa  Africa                       No
444    Paxton   Africa  Africa                       No
453      Adam   Africa  Africa                       No
462       Eva   Africa  Africa                       No
473  Margaret   Africa  Africa                       No
479    Helena   Africa  Africa                       No
495   Malakai   Africa  Africa                       No
787    Aleena   Africa  Africa                       No
790      Zara   Africa  Africa                       No
792    Sydney   Africa  Africa                       No
809    Ailani   Africa  Africa                       No


         name timezone  region language priorexperience
156      Finn   Africa  Africa                      Yes
158     Tyson   Africa  Africa                      Yes
261     Laila   Africa  Africa                      Yes
302    Khalil   Africa  Africa                      Yes
313  Fernando   Africa  Africa                      Yes
362  Adelaide   Africa  Africa                      Yes
365     Molly   Africa  Africa                      Yes
371      Mira   Africa  Africa                      Yes
382    Bryson   Africa  Africa                      Yes
402     Talia   Africa  Africa                      Yes
407   Juliana   Africa  Africa                      Yes
410    Mariah   Africa  Africa                      Yes
419    Bailey   Africa  Africa                      Yes
422     Megan   Africa  Africa                      Yes
433    Callie   Africa  Africa                      Yes
434    Harper   Africa  Africa                      Yes
491    Efrain   Africa  Africa                      Yes
793  Carolina   Africa  Africa                      Yes


        name timezone  region language priorexperience
293  Ignacio   Africa  Africa  English              No
294   Fabian   Africa  Africa  English              No
296    Jerry   Africa  Africa  English              No
297   Aubree   Africa  Africa  English              No
301   Dariel   Africa  Africa  English              No
..       ...      ...     ...      ...             ...
512  Tristan   Africa  Africa  English              No
514  Desmond   Africa  Africa  English              No
516     Cade   Africa  Africa  English              No
518  Benicio   Africa  Africa  English              No
796  Trinity   Africa  Africa  English              No

[79 rows x 5 columns]


          name timezone  region language priorexperience
260    Raelynn   Africa  Africa  English             Yes
262       Duke   Africa  Africa  English             Yes
263        Dax   Africa  Africa  English             Yes
291      Peter   Africa  Africa  English             Yes
298       Jace   Africa  Africa  English             Yes
299      Chloe   Africa  Africa  English             Yes
304       Remy   Africa  Africa  English             Yes
308       Aman   Africa  Africa  English             Yes
309       Iris   Africa  Africa  English             Yes
310       Aden   Africa  Africa  English             Yes
317      Pedro   Africa  Africa  English             Yes
319     Jolene   Africa  Africa  English             Yes
322     Edward   Africa  Africa  English             Yes
324     Emilia   Africa  Africa  English             Yes
328    Beckham   Africa  Africa  English             Yes
333    Spencer   Africa  Africa  English             Yes
335  Sebastian   Africa  Africa  English             Yes
340     Noelle   Africa  Africa  English             Yes
344   Kendrick   Africa  Africa  English             Yes
347       Kian   Africa  Africa  English             Yes
358     Jazmin   Africa  Africa  English             Yes
369     Aviana   Africa  Africa  English             Yes
380      Josie   Africa  Africa  English             Yes
385       King   Africa  Africa  English             Yes
386     Monica   Africa  Africa  English             Yes
399      Nadia   Africa  Africa  English             Yes
400       Zayn   Africa  Africa  English             Yes
403      Jenna   Africa  Africa  English             Yes
404      Abril   Africa  Africa  English             Yes
405      Bella   Africa  Africa  English             Yes
412       Arlo   Africa  Africa  English             Yes
413     Gunnar   Africa  Africa  English             Yes
414   Nathalie   Africa  Africa  English             Yes
416      Tyler   Africa  Africa  English             Yes
418     Izaiah   Africa  Africa  English             Yes
421       Lana   Africa  Africa  English             Yes
423     Vivian   Africa  Africa  English             Yes
431      Angie   Africa  Africa  English             Yes
435      Taiwo   Africa  Africa  English             Yes
445      Holly   Africa  Africa  English             Yes
451     Sienna   Africa  Africa  English             Yes
452      Ariel   Africa  Africa  English             Yes
464     Sawyer   Africa  Africa  English             Yes
465     Aniyah   Africa  Africa  English             Yes
469      Sonny   Africa  Africa  English             Yes
472      Darla   Africa  Africa  English             Yes
474      Silas   Africa  Africa  English             Yes
475      Kiana   Africa  Africa  English             Yes
476    Violeta   Africa  Africa  English             Yes
477     Roland   Africa  Africa  English             Yes
485   Kingston   Africa  Africa  English             Yes
490    Jazmine   Africa  Africa  English             Yes
498     Marcus   Africa  Africa  English             Yes
499     Walter   Africa  Africa  English             Yes
500      Tadeo   Africa  Africa  English             Yes
515   Samantha   Africa  Africa  English             Yes
786   Santiago   Africa  Africa  English             Yes
789     Aitana   Africa  Africa  English             Yes


     name timezone  region language priorexperience
39  Rocky   Africa  Africa   French             Yes


      name timezone    region language priorexperience
1038  Aldo   Africa  Americas  English             Yes


          name timezone region language priorexperience
87      Dahlia   Africa   MENA                       No
96     Gustavo   Africa   MENA                       No
105      Jorge   Africa   MENA                       No
134  Guadalupe   Africa   MENA                       No
287       Aria   Africa   MENA                       No
869    Rebecca   Africa   MENA                       No


         name timezone region language priorexperience
84   Penelope   Africa   MENA                      Yes
91      Blake   Africa   MENA                      Yes
94        Joy   Africa   MENA                      Yes
97      Rayan   Africa   MENA                      Yes
110   Audrina   Africa   MENA                      Yes
126     Lilah   Africa   MENA                      Yes


        name timezone region language priorexperience
88      Seth   Africa   MENA  English              No
92     Kiara   Africa   MENA  English              No
93      Kara   Africa   MENA  English              No
100  Kehlani   Africa   MENA  English              No
101     Jude   Africa   MENA  English              No
111    Johan   Africa   MENA  English              No
112  Arianna   Africa   MENA  English              No
114   Walker   Africa   MENA  English              No
122    Orion   Africa   MENA  English              No


         name timezone region language priorexperience
85     Rachel   Africa   MENA  English             Yes
102  Madeline   Africa   MENA  English             Yes
103     Abram   Africa   MENA  English             Yes
104   Maliyah   Africa   MENA  English             Yes
107    Stella   Africa   MENA  English             Yes
108     April   Africa   MENA  English             Yes
117     Faith   Africa   MENA  English             Yes
119    Nicole   Africa   MENA  English             Yes
120   Frances   Africa   MENA  English             Yes
124     Tatum   Africa   MENA  English             Yes
127  Isabella   Africa   MENA  English             Yes


         name timezone region        language priorexperience
109  Benjamin   Africa   MENA  English,French              No


      name         timezone  region language priorexperience
432  Edwin  Africa,Americas  Africa                      Yes


      name         timezone  region language priorexperience
300   Axel  Africa,Americas  Africa  English              No
311   Wade  Africa,Americas  Africa  English              No
504  Tomas  Africa,Americas  Africa  English              No


       name         timezone  region language priorexperience
455  Alayna  Africa,Americas  Africa  English             Yes
496   Paula  Africa,Americas  Africa  English             Yes


      name                           timezone  region language priorexperience
394  Naomi  Africa,Americas,Any/No preference  Africa  English              No


       name                timezone  region language priorexperience
513  Jaxton  Africa,Americas,Europe  Africa                      Yes


      name                  timezone  region language priorexperience
368   Cruz  Africa,Any/No preference  Africa  English              No
506  Quinn  Africa,Any/No preference  Africa  English              No


        name                  timezone  region language priorexperience
437  Mikaela  Africa,Any/No preference  Africa  English             Yes


      name                  timezone region language priorexperience
86  Hassan  Africa,Any/No preference   MENA                       No


      name                  timezone region language priorexperience
106  Sofia  Africa,Any/No preference   MENA  English              No


        name                           timezone  region language  \
326  Adeline  Africa,Any/No preference,Americas  Africa

    priorexperience
326             Yes


      name                         timezone  region language priorexperience
505  Rylee  Africa,Any/No preference,Europe  Africa  English             Yes


       name     timezone region language priorexperience
548  Mashal  Africa,Asia   APAC     Urdu             Yes


       name     timezone  region language priorexperience
356  Tucker  Africa,Asia  Africa  English              No


       name     timezone region language priorexperience
859  Warren  Africa,Asia   MENA     Urdu             Yes


     name                               timezone  region language  \
360  Iker  Africa,Asia,Americas,Australia,Europe  Africa  English

    priorexperience
360             Yes


         name       timezone  region language priorexperience
345  Juliette  Africa,Europe  Africa  English              No
354   Daniela  Africa,Europe  Africa  English              No
375     Zayne  Africa,Europe  Africa  English              No
425   Messiah  Africa,Europe  Africa  English              No
448      Zoey  Africa,Europe  Africa  English              No
456     Liana  Africa,Europe  Africa  English              No
457      Sean  Africa,Europe  Africa  English              No
459     Zahra  Africa,Europe  Africa  English              No
507  Jonathan  Africa,Europe  Africa  English              No
784   Beckett  Africa,Europe  Africa  English              No
791     Casey  Africa,Europe  Africa  English              No
797     Amara  Africa,Europe  Africa  English              No


          name       timezone  region language priorexperience
327  Genevieve  Africa,Europe  Africa  English             Yes
378      Amina  Africa,Europe  Africa  English             Yes
395    Barrett  Africa,Europe  Africa  English             Yes
468     Peyton  Africa,Europe  Africa  English             Yes
489     Darren  Africa,Europe  Africa  English             Yes


     name       timezone region language priorexperience
125  Enzo  Africa,Europe   MENA                       No


        name       timezone region language priorexperience
118  Delilah  Africa,Europe   MENA                      Yes


       name       timezone region language priorexperience
113  Heaven  Africa,Europe   MENA  English              No
138     Max  Africa,Europe   MENA  English              No
779     Luz  Africa,Europe   MENA  English              No


        name       timezone region language priorexperience
1      Jonas  Africa,Europe   MENA  English             Yes
95      Rory  Africa,Europe   MENA  English             Yes
98    Arthur  Africa,Europe   MENA  English             Yes
115  Tatiana  Africa,Europe   MENA  English             Yes
811   Sergio  Africa,Europe   MENA  English             Yes


       name                timezone  region language priorexperience
778  Elaine  Africa,Europe,Americas  Africa                       No


       name                timezone  region language priorexperience
159  Marvin  Africa,Europe,Americas  Africa                      Yes


        name                timezone  region language priorexperience
318  Ezekiel  Africa,Europe,Americas  Africa  English              No
342    Leyla  Africa,Europe,Americas  Africa  English              No


       name                timezone  region language priorexperience
330   Heidi  Africa,Europe,Americas  Africa  English             Yes
492  Angela  Africa,Europe,Americas  Africa  English             Yes


       name                timezone region language priorexperience
137  Elijah  Africa,Europe,Americas   MENA                       No


     name                         timezone region language priorexperience
89  Nixon  Africa,Europe,Any/No preference   MENA                      Yes


       name            timezone region language priorexperience
851  Dawson  Africa,Europe,Asia   MENA                      Yes


      name  timezone region      language priorexperience
599  Cindy  Americas   APAC  English,Urdu              No


       name  timezone region      language priorexperience
565  Harlee  Americas   APAC  English,Urdu             Yes


           name  timezone    region language priorexperience
29         Omar  Americas  Americas                       No
31         Elsa  Americas  Americas                       No
33       Miguel  Americas  Americas                       No
42     Ezequiel  Americas  Americas                       No
60        Roman  Americas  Americas                       No
959      Dustin  Americas  Americas                       No
975     Malcolm  Americas  Americas                       No
992      Dillon  Americas  Americas                       No
1030     Kayden  Americas  Americas                       No
1045      Elsie  Americas  Americas                       No
1047     Gracie  Americas  Americas                       No
1067      Brody  Americas  Americas                       No
1068      Rohan  Americas  Americas                       No
1084     Waylon  Americas  Americas                       No
1093      Jaden  Americas  Americas                       No
1131   Dominick  Americas  Americas                       No
1134       Luis  Americas  Americas                       No
1142    Kendall  Americas  Americas                       No
1167        Roy  Americas  Americas                       No
1174      Romeo  Americas  Americas                       No
1176  Christian  Americas  Americas                       No


            name  timezone    region language priorexperience
26     Annabella  Americas  Americas                      Yes
28       Johanna  Americas  Americas                      Yes
32          Jane  Americas  Americas                      Yes
50        Kendra  Americas  Americas                      Yes
73        Celine  Americas  Americas                      Yes
965          Joe  Americas  Americas                      Yes
970       Martin  Americas  Americas                      Yes
972     Giovanni  Americas  Americas                      Yes
985       Lucian  Americas  Americas                      Yes
987      Lincoln  Americas  Americas                      Yes
988         Zain  Americas  Americas                      Yes
1012        Ruth  Americas  Americas                      Yes
1013      Leonel  Americas  Americas                      Yes
1019        Jade  Americas  Americas                      Yes
1022      Alvaro  Americas  Americas                      Yes
1023     Rodrigo  Americas  Americas                      Yes
1024       Anika  Americas  Americas                      Yes
1029  Montserrat  Americas  Americas                      Yes
1031         Liv  Americas  Americas                      Yes
1039       James  Americas  Americas                      Yes
1040   Cristiano  Americas  Americas                      Yes
1049     Janelle  Americas  Americas                      Yes
1053    Catalina  Americas  Americas                      Yes
1055       Laiba  Americas  Americas                      Yes
1056     Miranda  Americas  Americas                      Yes
1060     Braxton  Americas  Americas                      Yes
1074      Jimena  Americas  Americas                      Yes
1080     Kaylani  Americas  Americas                      Yes
1105      Kaylee  Americas  Americas                      Yes
1107     Madison  Americas  Americas                      Yes
1129       Itzel  Americas  Americas                      Yes
1171     Viviana  Americas  Americas                      Yes
1179      Paloma  Americas  Americas                      Yes


       name  timezone    region language priorexperience
1148  Shane  Americas  Americas  Chinese              No


         name  timezone    region language priorexperience
1043  Kennedy  Americas  Americas  Chinese             Yes


           name  timezone    region language priorexperience
47       Maddox  Americas  Americas  English              No
51         Noel  Americas  Americas  English              No
52         Cora  Americas  Americas  English              No
57       Prince  Americas  Americas  English              No
64        Elena  Americas  Americas  English              No
...         ...       ...       ...      ...             ...
1157  Katherine  Americas  Americas  English              No
1158      Aarav  Americas  Americas  English              No
1164    Melissa  Americas  Americas  English              No
1166     Nathan  Americas  Americas  English              No
1168   Savannah  Americas  Americas  English              No

[67 rows x 5 columns]


           name  timezone    region language priorexperience
5         Rocco  Americas  Americas  English             Yes
34         Kate  Americas  Americas  English             Yes
35        Roger  Americas  Americas  English             Yes
37    Frederick  Americas  Americas  English             Yes
40         Evan  Americas  Americas  English             Yes
...         ...       ...       ...      ...             ...
1180     George  Americas  Americas  English             Yes
1181     Lennox  Americas  Americas  English             Yes
1182      Akash  Americas  Americas  English             Yes
1184     Adriel  Americas  Americas  English             Yes
1185      Reyna  Americas  Americas  English             Yes

[122 rows x 5 columns]


       name  timezone    region            language priorexperience